$primary-light-color: #ff79da;
$primary-dark-color: #9356dc;
$secondary-light-color: #99e2d0;
$secondary-dark-color: #008766;
$tertiary-light-color: #89c8fa;
$tertiary-dark-color: #003a68;

$main-font-fam: "Roboto", sans-serif;
$secondary-font-fam: "Shrikhand", cursive;
