/***** Footer *****/
.footer {
  background-color: vars.$dark-grey-color;
  color: vars.$pure-white-color;
  padding: 25px;
  display: flex;
  flex-direction: column;
  &-logo {
    margin-bottom: 20px;
    font-family: vars.$secondary-font-fam;
    font-size: 1.125rem;
  }
  &-txt {
    display: flex;
    flex-direction: column;
    .link-item {
      list-style-type: none;
      margin-bottom: 10px;
      a {
        color: vars.$pure-white-color;
        text-decoration: none;
        &:nth-child(2) {
          margin-left: 10px;
        }
      }
    }
  }
}

/***** Responsive tablet *****/
@media screen and (min-width: vars.$breakpointTablet) {
  .footer {
    text-align: center;
  }
}

/***** Responsive desktop *****/
@media screen and (min-width: vars.$breakpointDesktop) {
  .footer {
    padding: 30px 25px;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    height: 115px;
    &-logo {
      margin: 0 30px 0 80px;
    }
    &-txt {
      flex-direction: row;
      .link-item {
        margin-bottom: 0;
        a {
          &:nth-child(2) {
            margin-left: 0;
          }
        }
        &:nth-child(2) {
          margin-right: 45px;
        }
        &:last-child {
          margin-left: 15px;
        }
        .footer-icon {
          margin: 0 10px;
        }
      }
    }
  }
}
