/***** Header *****/
header {
  padding: 14px 0 0;
  text-align: center;
  .logo-section {
    position: relative;
    .back-link {
      position: absolute;
      top: 10px;
      left: 25px;
      color: vars.$dark-grey-color;
      font-size: 1.375rem;
      font-weight: 800;
    }
    h1 {
      font-family: vars.$secondary-font-fam;
      font-size: 1.875rem;
      padding-bottom: 16px;
      color: #101010;
      letter-spacing: 0.8px;
    }
  }
  .location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 0;
    background-color: #eaeaea;
    color: vars.$dark-grey-color;
    p {
      margin-left: 17px;
      font-weight: 500;
    }
  }
  section {
    padding: 40px 20px 75px;
    background-color: vars.$light-white-color;
    line-height: normal;
    h2 {
      margin-bottom: 20px;
    }
    p {
      color: vars.$dark-grey-color;
      font-size: 1.125rem;
      font-weight: 300;
      margin-bottom: 40px;
    }
    .explore-link {
      text-decoration: none;
    }
  }
}

/***** Responsive tablet *****/
@media screen and (min-width: vars.$breakpointTablet) {
  header {
    section {
      h2 {
        font-size: 1.875rem;
      }
    }
  }
}

/***** Responsive desktop *****/
@media screen and (min-width: vars.$breakpointDesktop) {
  header {
    padding-top: 30px;
    .logo-section {
      h1 {
        padding-bottom: 30px;
        font-size: 2.125rem;
      }
    }
    section {
      padding: 30px 0 45px;
      h2 {
        font-size: 2.5rem;
      }
    }
  }
}
