*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #fff;
  width: 100%;
  height: 100%;
  pointer-events: none;
  animation: loaderAnim 2s ease-out forwards;
}
.loader .dot {
  position: absolute;
  top: 45%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.2);
  animation: loaderDotAnim 0.8s cubic-bezier(0.13, -0.13, 0.79, 0.36) 3 backwards;
}
.loader .dot-one {
  left: 20%;
  background-color: #9356dc;
  animation-delay: 0.2s;
}
.loader .dot-two {
  left: 45%;
  background-color: #ff79da;
  animation-delay: 0.4s;
}
.loader .dot-three {
  left: 70%;
  background-color: #89c8fa;
  animation-delay: 0.6s;
}

@keyframes loaderAnim {
  0%, 80% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes loaderDotAnim {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
header {
  padding: 14px 0 13px;
  text-align: center;
}
header h1 img {
  width: 197px;
  height: 36px;
  padding: 0 19px 0 16px;
}
header .location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px 0;
  background-color: #eaeaea;
  color: #353535;
}
header .location .fa-location-dot {
  font-size: 16px;
}
header .location p {
  margin-left: 17px;
  font-weight: 500;
}
header section {
  padding: 39px 20px 57px;
  background-color: #f6f6f6;
  line-height: normal;
}
header section h2 {
  margin-bottom: 20px;
}
header section p {
  color: #353535;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 27px;
}
header section .explore-btn {
  background: linear-gradient(177deg, #ff79da, #9356dc);
  color: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  padding: 13px 18px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: opacity 0.3s ease-out;
}
header section .explore-btn:hover {
  opacity: 0.85;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.home-section-one {
  padding: 48px 20px 68px;
}
.home-section-one .home-section-one-container .home-section-one-block {
  border-radius: 20px;
  background-color: #f6f6f6;
  margin: 26px 0;
  padding: 28px 0;
  display: flex;
  flex-direction: row;
  margin-left: 11px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.home-section-one .home-section-one-container .home-section-one-block .home-section-one-number {
  background-color: #9356dc;
  color: #fff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.88em;
  font-weight: 500;
  margin-left: -11px;
  margin-right: 23px;
}
.home-section-one .home-section-one-container .home-section-one-block .fa-mobile-screen-button,
.home-section-one .home-section-one-container .home-section-one-block .fa-list-ul,
.home-section-one .home-section-one-container .home-section-one-block .fa-store {
  cursor: pointer;
  color: #7e7e7e;
  font-size: 18px;
  transition: color 0.1s ease-out;
}
.home-section-one .home-section-one-container .home-section-one-block .fa-mobile-screen-button:hover,
.home-section-one .home-section-one-container .home-section-one-block .fa-list-ul:hover,
.home-section-one .home-section-one-container .home-section-one-block .fa-store:hover {
  color: #9356dc;
}
.home-section-one .home-section-one-container .home-section-one-block p {
  margin-left: 23px;
  font-weight: 500;
}

.home-section-two {
  padding: 54px 18px 66px 17px;
  background-color: #f6f6f6;
}
.home-section-two h2 {
  margin-bottom: 26px;
}
.home-section-two .home-section-two-container article {
  max-width: 340px;
  height: 251px;
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  margin-bottom: 18px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.home-section-two .home-section-two-container article a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.home-section-two .home-section-two-container article .home-section-two-top {
  position: relative;
  height: 70%;
}
.home-section-two .home-section-two-container article .home-section-two-top img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-section-two .home-section-two-container article .home-section-two-top .new {
  padding: 7px 9px;
  border-radius: 2px;
  background-color: #99e2d0;
  color: #008766;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  top: 13px;
  right: 12px;
}
.home-section-two .home-section-two-container article .home-section-two-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 13px;
}
.home-section-two .home-section-two-container article .home-section-two-bottom .home-section-two-bottom-txt h3 {
  margin: 16px 0 5px;
}
.home-section-two .home-section-two-container article .home-section-two-bottom .home-section-two-bottom-txt p {
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 12px;
}
.home-section-two .home-section-two-container article .home-section-two-bottom .heart-icon {
  margin-right: 12px;
  position: relative;
  z-index: 3;
  cursor: pointer;
  transition: fill 0.3s ease-out;
}
.home-section-two .home-section-two-container article .home-section-two-bottom .heart-icon:hover path {
  fill: url(#heartGradientHover);
  stroke: none;
}

footer {
  background-color: #353535;
  color: #fff;
  padding: 22px 25px;
  display: flex;
  flex-direction: column;
}
footer .footer-logo {
  margin-bottom: 16px;
  font-family: "Shrikhand", cursive;
  font-size: 18px;
}
footer div {
  margin-bottom: 7px;
}
footer div a {
  margin-left: 11px;
}
footer a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 7px;
}/*# sourceMappingURL=main.css.map */