$primary-light-color: #ff79da;
$primary-dark-color: #9356dc;
$secondary-light-color: #99e2d0;
$secondary-dark-color: #008766;
$tertiary-light-color: #89c8fa;
$tertiary-dark-color: #003a68;

$pure-white-color: #fff;
$light-white-color: #f6f6f6;
$dark-grey-color: #353535;

$main-font-fam: "Roboto", sans-serif;
$secondary-font-fam: "Shrikhand", cursive;

$breakpointTablet: 768px;
$breakpointDesktop: 1150px;
