.home-section-one {
  padding: 48px 20px 68px;
  .home-section-one-container {
    .home-section-one-block {
      border-radius: 20px;
      background-color: vars.$light-white-color;
      margin: 26px 0;
      padding: 28px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 11px;
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
      .home-section-one-number {
        background-color: vars.$primary-dark-color;
        color: vars.$pure-white-color;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.88em;
        font-weight: 500;
        margin-left: -12px;
        margin-right: 23px;
      }
      .fa-mobile-screen-button,
      .fa-list-ul,
      .fa-store {
        color: #7e7e7e;
        font-size: 1.12em;
      }
      p {
        margin-left: 23px;
        font-weight: 500;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .home-section-one {
    padding: 48px 100px 68px;
  }
}
@media screen and (min-width: 1150px) {
  .home-section-one {
    padding: 50px 180px;
  }
  .home-section-one {
    .home-section-one-container {
      display: flex;
      flex-direction: row;
      gap: 24px;
      justify-content: space-between;
      .home-section-one-block {
        flex: 1;
        p {
          margin-left: 26px;
        }
      }
    }
  }
}

.home-section-two {
  padding: 54px 18px 66px 17px;
  background-color: vars.$light-white-color;
  h2 {
    margin-bottom: 26px;
  }
  .home-section-two-container {
    article {
      max-width: 970px;
      height: 251px;
      border-radius: 15px;
      background-color: vars.$pure-white-color;
      overflow: hidden;
      position: relative;
      margin-bottom: 18px;
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
      a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
      .home-section-two-top {
        position: relative;
        height: 70%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .new {
          padding: 7px 9px;
          border-radius: 2px;
          background-color: vars.$secondary-light-color;
          color: vars.$secondary-dark-color;
          font-size: 0.87em;
          font-weight: 500;
          position: absolute;
          top: 13px;
          right: 12px;
        }
      }
      .home-section-two-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 13px;
        .home-section-two-bottom-txt {
          h3 {
            margin: 16px 0 5px;
          }
          p {
            font-size: 1.06em;
            font-weight: 300;
            margin-bottom: 12px;
          }
        }
        .heart-icon-container {
          position: relative;
          width: 23px;
          height: 21px;
          .heart-icon-empty {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 3;
            margin-right: 12px;
            transition: opacity 0.5s ease-out;
            cursor: pointer;
            &:hover path {
              opacity: 0;
              transition: opacity 0.5s ease-out;
            }
            &:hover ~ .heart-icon-saved {
              opacity: 1;
              transform: scale(1);
              transition: opacity 0.3s ease-out, transform 0.3s ease-out;
            }
          }
          .heart-icon-saved {
            position: absolute;
            top: 0;
            right: 0;
            margin-right: 12px;
            opacity: 0;
            transform: scale(0);
            transform-origin: bottom;
            transition: opacity 0.3s ease-out, transform 0.3s ease-out;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .home-section-two {
    padding: 54px 100px 66px;
    .home-section-two-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 25px;
      column-gap: 50px;
      article {
        margin-bottom: 0;
      }
    }
  }
}
@media screen and (min-width: 1150px) {
  .home-section-two {
    padding: 30px 180px;
    h2 {
      margin-bottom: 28px;
    }
    .home-section-two-container {
      row-gap: 50px;
      column-gap: 100px;
    }
  }
}
